<% if current_user.role == "admin" %>
  <% User.where(role: "manager").each do |manager| %>
    <div class="mb-6">
      <h2 class="text-2xl font-bold mb-2"><%= manager.firstname + " " + manager.lastname + "'s team" %></h2>
      <ul>
        <% User.where(manager_id: manager.manager_id, role: ["staff", "manager"]).each do |staff| %>
          <li class="mb-2">
            <%= link_to staff.firstname + " " + staff.lastname + " (" + staff.email + ")", users_attendances_path(id: staff.id), class: "text-blue-500 hover:underline" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% elsif current_user.role == "manager" %>
  <div class="mb-6">
    <h2 class="text-2xl font-bold mb-2"><%= current_user.firstname + " " + current_user.lastname + "'s team" %></h2>
    <ul>
      <% User.where(manager_id: current_user.manager_id, role: "staff").each do |staff| %>
        <li class="mb-2">
          <%= link_to staff.firstname + " " + staff.lastname + " (" + staff.email + ")", users_attendances_path(id: staff.id), class: "text-blue-500 hover:underline" %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="mb-6">
    <h2 class="text-2xl font-bold mb-2"><%= current_user.firstname + " " + current_user.lastname + "'s team" %></h2>
    <ul>
      <% User.where(manager_id: current_user.manager_id, role: "staff").each do |staff| %>
        <li class="mb-2 text-blue-500">
          <%= "#{staff.firstname} #{staff.lastname} (#{staff.email})" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>