<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="bg-gray-800 text-white px-6 py-4">
        <div>
          <%= link_to "Home", root_path, class: "text-white px-4" %>
          <%if current_user.admin? %>
            <%= link_to "Teams", teams_path, class: "text-white px-4" %>
          <% else %>
            <%= link_to "Team", teams_path, class: "text-white px-4" %>
          <% end %>
          <%= link_to "Attendances", attendances_path, class: "text-white px-4" %>
          <%= link_to "Profile", edit_user_registration_path, class: "text-white px-4" %>
        </div>
      </div>
    <% else %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="m-6">
      <%= yield %>
    </div>
  </body>
</html>
